# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
código/fuck/README.TXT
código/fuck/package.bluej
código/fuck/Paciente.java
código/fuck/Main.java
código/fuck/Interfaz.java
código/fuck/IMC.java
código/fuck/Calculadora.java
